// colors
$color-primary: #79018c;
$color-secondary: #4c0070;
$color-purple: #9a0680;
$color-white: #fff;
$color-grey: #bcbcbc;
$color-dark: #160040;
$color-black: #000;
$background-color: #f8f8f8;
$color-lightgrey: #f8f8f8;

//font
$font-primary: "Poppins", sans-serif;
